.construccion {
  background-image: url('https://image.jimcdn.com/app/cms/image/transf/dimension=2600x2300:format=png/path/s8a4807607e613aa8/image/icbb4c4f899a367d0/version/1444752991/image.png');
  height: 89vh;
  width: 100%;
  background-position:center center;
	background-repeat:no-repeat;
  background-size:cover;
}